<div class="bg-white border" *ngIf="animal$ | async as animal">
  <div class="container my-5 py5" >
  <div class="row" >
    <div class="col-lg-6" >
      <app-animal
      [url]="animal.url"
      [descricao]="animal.description"
      ></app-animal>
    </div>
      <div class="col-lg-4">
        <small>
          <p class="text-left break-word"> {{ animal.description }} </p>
          <i (click)="curtir()" class="fa fa-heart-o  ms-2 me-2"> {{ animal.likes }} </i>
          <i class="fa fa-comment  ms-2 me-2"> {{ animal.comments }} </i>
          <i (click)="excluir()" class="fa fa-trash pull-right"></i>
        </small>

        <app-comentarios
          [id]="animalId"
          *ngIf="animal.allowComments; else warning"
        ></app-comentarios>

        <ng-template #warning>
          <p>O não pode comentar</p>
        </ng-template>
      </div>
  </div>
</div>
</div>
