<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand"><i
        class="fa fa-bars mr-2"
        (click)="menu.abreMenu()"
        (keyup.space)="menu.abreMenu()"
        >
      </i>
      Meu Amigo
    </a>

      <app-menu #menu>
        <ul class="list-unstyled">
          <li>
            <a [routerLink]="['animais', 'novo']">Novo Animal</a>
          </li>
        </ul>
      </app-menu>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#toggleMobileMenu"
          aria-controls="toggleMobileMenu"
          aria-expand="false"
          aria-label="Toggle navigation"
          >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="toggleMobileMenu" *ngIf="user$ | async as user">
          <ul class="navbar-nav ms-auto" *ngIf="user.name; else login">
            <li>
              <a class="nav-link disabled"><i class="fa fa-user-circle me-2"></i>{{ user.name }}</a>
            </li>
            <li>
              <a class="nav-link" (click)="logout()">Lougot</a>
            </li>
          </ul>
        </div>
    </div>
  </nav>
  <ng-template #login>
    <span class="navbar-text">
      <a [routerLink]="['']"></a>
    </span>
  </ng-template>
</header>
