<p class="text-center text-muted" *ngIf="!animais.length">
  Desculpe não há amigos.
</p>

<div class="card-group">
  <div class="card-body" *ngFor="let animal of animais">

    <a [routerLink]="['/animais', animal.id]">
      <app-cartao>
      <app-animal
        [url]="animal.url"
        [descricao]="animal.description">
      </app-animal>
      <i aria-hidden="true" class="fa fa-heart-o ms-2 me-2">{{ animal.likes }}</i>
      <i aria-hidden="true" class="fa fa-comment-o  ms-2 me-2">{{ animal.comments }}</i>
    </app-cartao>
  </a>

  </div>
</div>


