<p class="text-center text-muted" *ngIf="!animais.length">
  Desculpe não há amigos.
</p>


  <div class="row mt-4">
  <div class="col-sm-4 d-flex justify-content-center" *ngFor="let animal of animais">

    <a  id="sem-linha" [routerLink]="['/animais', animal.id]">
      <app-cartao>
      <app-animal
        [url]="animal.url"
        [descricao]="animal.description">
      </app-animal>
      <span> <i aria-hidden="true" class="fa fa-heart-o ms-2"></i> {{ animal.likes }} </span>
      <span> <i aria-hidden="true" class="fa fa-comment-o ms-2"></i> {{ animal.comments }} </span>
    </app-cartao>
  </a>

  </div>

</div>

