<h4 class="text-center">Registre-se, queremos ver o seu amigo.</h4>

<form [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
  <div class="row mb-3">
    <input placeholder="email" class="form-control" formControlName="email" />
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.['required'] &&
        novoUsuarioForm.get('email')?.touched
        "
      mensagem="E-mail obrigatório."
    >
    </app-mensagem>
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.['email'] &&
        novoUsuarioForm.get('email')?.touched
      "
      mensagem="E-mail no formato incorreto."
    >
    </app-mensagem>
  </div>
  <div class="row mb-3">
    <input
      placeholder="Nome Completo"
      class="form-control"
      formControlName="fullName"
    />
    <app-mensagem
      *ngIf="
      novoUsuarioForm.get('fullName')?.errors &&
      novoUsuarioForm.get('fullName')?.touched
      "
      mensagem="Nome muito curto."
    >
    </app-mensagem>
  </div>
  <div class="row mb-3">
    <input
      placeholder="Usuário"
      class="form-control"
      formControlName="userName"
    />
    <app-mensagem
      *ngIf="
      novoUsuarioForm.get('userName')?.errors?.['minusculo'] &&
      novoUsuarioForm.get('userName')?.touched
      "
      mensagem="O usuário deve ser em letras minúsculas."
      >
    </app-mensagem>
    <app-mensagem
    *ngIf="
    novoUsuarioForm.get('userName')?.errors?.['usuarioExistente']"
    mensagem="Usuário já existe."
    ></app-mensagem>
  </div>
  <div class="row mb-3">
    <input
      type="password"
      placeholder="Senha"
      class="form-control"
      formControlName="password"
    />
    <app-mensagem
    *ngIf="
    novoUsuarioForm.errors?.['senhaIgualUsuario']
    "
    mensagem="Senha deve ser diferente do usuário."
    >
  </app-mensagem>
  </div>
  <div class="row mb-3">
    <button class="btn btn-primary col-12 btn-block">Cadastro</button>
  </div>
</form>

<p>Já é um usuário?<a [routerLink]="['']"> Faça login</a></p>
